
body{
  font-family: 'roboto-slab',sans-serif;
  color: #OD2C40;
  
  background-size: cover;
}
h1 {
  font-family: 'playfair-display', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px; 
  letter-spacing: 1px;
}
nav {
  text-align: center
}
h2 {
  text-align: center;
  font-size: 25px;
}
p {
  font-family: 'roboto-slab', sans-serif;
  font-size: 17px;
  text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 250px;
}

hr {
  border: none;
  border-bottom: 2px solid #0d2c40;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer {
  font-family: 'roboto-slab', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding-top: 30px;
  text-align: center;
  color: #ff5911;
}
