@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');


/* ----------------------------------------
Base Styles
------------------------------------------- */
body {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: .02em;
	color: #44545E;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	align-items: center;
}
nav {
	text-align: center;
}
header {
	text-align: center;
	background-image: url("../images/blog_header_bg.jpg");
	padding: 100px;
}
nav a {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #7B98AA;
	text-decoration: none;
}
header a {
	
	font-family: "Raleway", sans-serif;
	font-size: 37px;
	color: #44545E;
	text-decoration: none;
}
article {
	text-align: left;
	padding: 20px 90px 20px 20px;
	width: 650px;
}
article p {
	line-height: 20px;

}
aside {
	text-align: left;
	line-height: 25px;
	padding-top: 70px;
	padding-left: 10px;
	width: 350px;
}
h3 {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-size: 23px;

}
/* Fix for responsive images */
img {
	max-width: 100%;
}
p {
	font-family: "Lato",sans-serif;
	font-size: 15px;
	text-transform: lowercase;
}
footer {
	background-color: #E0FFFF;
	padding: 20px 0px 0px 0px;
}
footer a {
	
	font-family: 'Lato', 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 15px;
	padding: 20px;
	margin: 20px 20px 20px 0px;
	text-decoration: none;
}

footer p {
	font-family: 'Lato', 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 20px;
	margin: 20px 0px 60px 0px;
}
footer nav {
	padding-bottom: 10px;
}
/*footer div {
	border-bottom: 1px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
}*/
hr {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
}
section {
	display: flex;
	align-items: flex-start;
	padding-left: 50px;
	padding-right: 50px;
}
ul {
	text-decoration: none;
	text-: 
}