/***** BASE STYLES *****/
body{
	 font-family: 'Lora', serif;  
}



#about, #work, #contact {
	height: 625px;
}

/***** GRID *****/

.full-width{
	width: 100%;
	margin: 0 auto;
}

.half-width{
	width: 50%;
	float: left;
    /*display: flex;*/
    flex-wrap: wrap;
}

.third-width{
	width: 32%;
	float: left;
}

/***** HEADER *****/

.fixed-background {
    background: url('../img/aman-dhakal-205796.jpg');
    width: 100%;
    height: auto;
    display:block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.change{
    background: url('../img/ales-krivec-107499.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display:block;
    height: auto;
}

/*header h1 { 
    padding: 50px 0;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #55552b;
    flex-wrap: wrap;
}*/



header .full-width {
align-items: right;
text-align: center;
padding: 300px 0; /*this could vary depending on screen size*/
width: 100%;
}
.fixed-background{
   
}
/*button{
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    color: white;
}*/

i{
    color: white;
}

header h2 {
color: white;
font-size: 72px;
line-height: 80px;
}

header h2 span {
    color: #2b2b2b;
}


/*****NAVIGATION MENU *****/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

 ul li{
    display: inline-block;
    padding-right: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px; 
}

a:hover{
    color: #4A5070;
}


/***** ABOUT *****/

#about .full-width{
	padding: 80px 0 150px 0;
    
}

#about h2 {
    font-size: 36px;
    margin-left: 100px;
}
 
#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-right: 50px;
    margin-left: 100px;
}

/***** WORK *****/

#work{
	background-color: #4A5070;
	text-align: center;
    opacity: 0.80;
}

#work .full-width{
	padding: 115px 0;
}

#work img{
	padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    width: 190px;
    margin: 0 auto;
    color: white;
    
}
 
#work p {
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding: 0 35px;
}


/***** ABOUT *****/

#contact{
	background-color: #ebebeb;
    flex-wrap: wrap;
}
 #contact-info{
    display: block;
 }

#contact .full-width {
    padding: 110px 0;
    padding-bottom: 200px;
}

#contact-img {
    border: 12px solid lightgrey;
    margin-left: 100px;
    width: 80%;
}

#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#envelope {
    padding: 0 10px 0 115px;

}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}

#email-header{
    font-size: 32px;
    font-weight: normal;
    margin: -30px 0 5px 0;
}

#socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 30px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 28px;
}

i{
    padding: 20px;
}

i:hover{
    color: #4A5070;
}
.fa-5x:hover{
    color: white;
}
.fa-2x{
    color: grey;
}


#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    padding-right: 48px;
}
.half-width a{
    display: flex;
    flex-wrap: wrap;
}

.inspo{
    text-align: center;
    color: #828282;

}
.inspo h3{
    font-size: 36px;
    padding: 10px;
}
.inspo p{
    font-size: 24px;
    padding-right: 100px;
    padding-left: 100px;
    line-height: 40px;
}
#space{
    background-image: url('../img/stefan-stefancik-105376.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    display:block;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 300px 100px 150px 100px;
    margin-top: 20px;
}


#space h3{
    font-size: 36px;
}

#space p{
    font-size: 24px;
    width: 50%;
    line-height: 40px;
}

footer ul{
    text-align: center;
}

footer ul li{
    padding: 0 50px 0 50px;
}

@media screen and (max-width: 1170px) {
    /*h1{
        font-size:16px;
    }*/
    header h2{
        font-size: 45px;
        padding: 10px;
    }

    }
    @media screen and (max-width: 950px) {
       
    #contact-img{
        display:block;
    }
    #contact h2{
        font-size:20px;
        margin-bottom: 40px;
    }
    #contact h3{
        font-size:18px;
    }
    #socialmedia-header {
        margin-top: 10px;
    }
}
