
/*Add a link to Google Fonts at the top! THis should be the first line of your stylesheet.*/

/* ----------------------------------------
Base Styles
------------------------------------------- */
/* Note: Makes sure that padding and the border are included in the width for each element. */
/* Don't add anything else under the * selector! */
* {
	box-sizing: border-box;
}

img {
	height: 400px;
	max-width: 100%;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	color: grey;
	font-size: 18px;
	padding: 15px;
	font-family: "raleway";
	color: #7B98aa;
}

body header {
	background-image: url("../images/home_header_bg.jpg");
	padding: 200px;
	background-size: 100% 100%;
}

header {
	text-align: center;
	font-size: 24px;
	color: white;
}

h1 {
	text-align: center;
}

div {
	text-align: center;
	background-color: #f0f8ff;
	padding: 50px;
}

.flex-container {

	display: flex;
	justify-content: space-between;
	text-align: center;
}

.flex-container2 {
	display: flex;
	justify-content: space-between;
}

.flex-container3 {
	display: flex;
	justify-content: space-between;
}

/* ----------------------------------------
Typography
------------------------------------------- */



/* ----------------------------------------
Lists
------------------------------------------- */



/* ----------------------------------------
Layout
------------------------------------------- */


/* ----------------------------------------
Header
------------------------------------------- */


/* ----------------------------------------
Buttons
------------------------------------------- */



/* ----------------------------------------
Footer
------------------------------------------- */
