	@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

	/* ----------------------------------------
	Base Styles
	------------------------------------------- */
	nav {
		display: flex;
		justify-content:space-around;
		padding-top: 20px;

	}



	body {
		  font-family: "Raleway", sans-serif;
		  text-transform: uppercase;  
		  letter-spacing: .02em;
		  text-align: center;
		  color: #44545E;
		  background: radial-gradient(circle, grey, white);

	}

	header {
	       padding: 200px;
	       background-image: url("../images/blog_header_bg.jpg");
	      
	       background-position: center;
	       margin: 20px;

	}

	header a {
			color: white;
			text-decoration: none;
			letter-spacing: 10px;
	}

	p { 
		font-family: "Lato" 15px, sans-serif;
		text-align: left;
	}

	p2 {
		font-family: "Lato" 15px, sans-serif;
		margin: 0 auto;
	}

	div {
		background-color: #cdf3F6;
		flex-direction: column;
	}

	footer {
		font-family: "Raleway" 15px, sans-serif;
	}	

	footer a { 
		font-family: "lato" 15px, sans-serif;
	}

	ul {
		text-align: left;
	}	

	/* Fix for responsive images */

	section {
			display: flex;
			text-align: left;
			margin: 0 auto;
			padding-left: 20px;
			text-align: 20px;
	}


	article {
		     width: 60%;
			 margin: 0 auto;
			    
	}

	footer p {

			text-align: center;
	}
	

	aside { 
			width: 25%
		}

	img {
		max-width:  95%;
	}
