
/*Add a link to Google Fonts at the top! THis should be the first line of your stylesheet.*/
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */
/* Note: Makes sure that padding and the border are included in the width for each element. */
/* Don't add anything else under the * selector! */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
	-webkit-font-smoothing: antialiased;
}

img {
	height: 400px;
	max-width: 100%;
}

	
}
/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 1.4;
	font-weight: 400;
}

h1, h2, h3 {
	font-weight: 600;
	font-family: "Raleway";
	text-transform: uppercase;
	text-align: center;

}
a{
	text-decoration: none;
	color: #7B988A;
	font-weight: 600;

}
a:hover {
	color: #44545E;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
/* ----------------------------------------
Lists
------------------------------------------- */



/* ----------------------------------------
Layout
------------------------------------------- */
.row section {
	display: flex;
	padding: 0 30px 50px 30px;
	width: 100%;
}
.row section p {
	padding: 0 10px;

}
.about section {
	background-color: #cdf3f6;
	margin-bottom: 75px;
	padding: 40px 0px;
	overflow : auto;
}
.about section p{
	display: inline-block;
	margin-top: 5px;
	width: 65%;

}
..wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.grid-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.col-1-3 {
	flex-basis: 32%;
	height: 300px;
	width: 150px;
	overflow: hidden;
}
.about {
	background-color: #CFF2F6;
}
/* ----------------------------------------
Header
------------------------------------------- */
nav {
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
}
nav a {
	border-bottom: none;
 	display: inline-block;
 	font-weight: 600;
 	letter-spacing: 0.75px;
 	padding: 20px 60px;
 	text-transform: uppercase;
}
header {
	background-image: url('../images/home_header_bg.jpg');
 	background-position: center;
 	background-size: cover;
 	height: 700px;
 	margin-bottom: 75px;
 	padding-top: 275px;
}
.header, h1 a, h1 a:hover {
 	color: white;
 	display: inline-block;
 }
 article img {
 	margin: 10px;
 }

/* ----------------------------------------
Buttons
------------------------------------------- */
button {

	cursor: pointer;
	outline: 0;
	border: 2px solid #44545E;
	color: #44545E;
	padding: 8px 25.5px;
	padding: 8px 1.7rem;
	background-color: transparent;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12.299px;
	font-size: .82rem;
	letter-spacing: 1.2px;
	letter-spacing: .08rem;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;

}
button:hover {
	background-color: #44545E;
	color: white;
	font-weight: 600;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #CDF3F6;
	overflow: auto;
}
footer input {
	padding: 11px 10px;
	width: 300px;
	margin-right: 30px;
	margin-right: 2rem;
	border: 0;
	text-align: center;
}
footer .wrap {
	padding: 30px 15px;
}
.socilal-links a {
	font-size: 30px;
	color: #44545E;
	display: inline-block;
	margin-bottom: 30px;
	padding: 15px;
}
.copyright {
	border-top : 2px solid #44545E;
	padding: 15px 0 3px;
}
input {
	border: 0;
	margin-bottom: 12px;
	margin-right: 30px;
	outline: 0;
	padding: 11px 10px;
	text-align: center;
	width: 300px;
}